<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Peloton</title>
    <style>
        body {background-color: powderblue;}
        /* iphone 12 & 12 Pro */
        @media only screen
        and (device-width: 390px)
        and (device-height: 844px)
        and (-webkit-device-pixel-ratio: 3) {
          h1 { font-size: 48px; }
          p { font-size: 36px; }
        }
    </style>
</head>
<body>
    <h1>Personal Peloton</h1>
    <p>
        This web app shows some additional stats that aren't readily available from the Peloton App.
        Specificlaly, you can see daily streak and projected finish for the Annual Challenge
        (via <a href="/stats">stats</a>). You can see a day of the year projection of finish for the
        Annual Challenge (via <a href="/projection">projection</a>).
    </p>
    <p>
        <a href="/update">Collect latest stats</a>
    </p>
</body>
</html>