
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tracking Towards Annual Goal</title>
  <style>
      body {background-color: powderblue;}
      /* iphone 12 & 12 Pro */
      @media only screen
      and (device-width: 390px)
      and (device-height: 844px)
      and (-webkit-device-pixel-ratio: 3) {
        h1 { font-size: 48px; }
        p { font-size: 36px; }
      }
  </style>
</head>

<body>
  <h1>Tracking Towards Annual Goal</h1>
  {{ script|safe }}
  <p>
    <a href="/">Home</a>
  </p>
</body>
</html>